// PRIMARY COLOUR PALETTE
$brand: #ED0722;
$default: #333333;
$alternate: #757575;
$highlight: #009DD6;

// SECONDARY COLOUR PALETTE
$success: #29b16e;
$notification: #BE207A;
$info: #087BB4;
$error: #CB061D;

// Auxiliar COLOUR PALETTE
$lines: #E2E2E2;